h2 {
  text-align: center;
}
  // Pagination
.pagination-nav {}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-item {
  height: 30px;
  border: 1px solid blue;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin: 0 5px;
  overflow: hidden;
  display: inline-block;
  &.current {
    .pagination-link {
      background-color: blue;
      color: #fff;
    }
  }
  &.disabled {
    pointer-events: none;
  }
}

.pagination-link {
  height: 100%;
  font-size: 14px;
  line-height: 17px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  color: blue;
  text-decoration: none;
  background-color: transparent;
  transition: 0.3s ease;
  &:hover {
    color: #fff;
    background-color: blue;
    > svg {
      path {
        fill: #fff;
      }
    }
  }
}

.pagination-prev,
.pagination-next {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  > svg {
    path {
      transition: 0.3s ease;
    }
  }
}

.pagination-prev {
  svg {
    transform: rotate(180deg);
  }
}